


.slogan{        
padding-left: 20px;
font-size: 20px;
}

.redsocial{
  width: 40px;
}
li{
  margin-bottom: 20px;

}
.horizontal li{
  display: inline;
}
.tamaño{
  width: 500px;
}

.separacion{

  border-top: 1px lightgrey solid;
  padding-top: 20px;
  margin-top: 40px;
}
button{
  width: 100%;
  margin-top: 60px;
}

.letra{
  color: white;
  font-weight: 500;
}
.comentario{
  margin-left: 17px;
}

.letra2{
  font-weight: bold;
}

.altura3{
  height: 80px;
}

.ancho{
  width: 100%;
}

@media (max-width: 600px){

.horizontal-redes li{
  display: inline;
  margin-left: 8px;
}

.tamaño{
  width: 100%;
}

.centrado{
  display: flex;
   justify-content: center;

}

.logo-celular{
  width: 50%;
  display: block;
  margin: 0 auto;
}
}

@media (max-width: 900px){

.tamaño{
  width: 100%;
}
}
