
.logo{
  height: 50px;
}

.slogan{
padding-left: 20px;
font-size: 20px;
}

.redsocial{
  width: 40px;
}
li{
  margin-bottom: 20px;

}
.horizontal li{
  display: inline;
}
.tamaño{
  width: 500px;
}
.altura{
  height: 1100px;
}

.separacion{

  border-top: 1px lightgrey solid;
  padding-top: 20px;
  margin-top: 40px;
}
button{
  width: 100%;
}
